html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.book-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    flex-direction: row;
    gap: 100px;
    padding-top: 5rem;
}

.edit-book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}

.order-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.delete-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.book-order-delete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.book-options {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
