html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.banner {
    width: auto;
}

.banner-library {
    width: 100%;
    height: auto;
}

.book-user-choice {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 100px 300px;
}

.choice-btn {
    background-color: #6c2100;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:50px;
    min-width: 150px;
}

.choice-btn:hover {
    background-color: #4b1302;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .book-user-choice {
        justify-content: center;
        flex-direction: column;
        padding: 30px 100px;
    }
}